@inject NavigationManager NavigationManager

<PermissionView Permission="Farm.Full">
    <ChildContent>
        <RadzenContent Container="main" class="umh-p-2rem-bg-light">
            <div class="d-flex justify-center items-center min-h-screen">
                <RadzenCard class="umh-section-content">
                    <div class="mb-4">
                        <RadzenImage AlternateText="Umanhan" Path="images/umanhan_logo_225x225_no_text_100.png" class="umh-width-150px rz-mb-5" />
                        <RadzenText TextStyle="TextStyle.DisplayH2" class="rz-color-base-800 poppins-semibold umh-mb-n15px">umanhan</RadzenText>
                        <RadzenText TextStyle="TextStyle.DisplayH4" class="rz-color-base-600 poppins-regular rz-mb-10">Farm Management System</RadzenText>
                        <RadzenText TextStyle="TextStyle.DisplayH6" class="rz-color-base-800">Let's help you set up your farm so you can start planning, planting, and tracking operations effectively.</RadzenText>
                    </div>
                    @if(Settings.FarmId != Guid.Empty) 
                    {
                        string buttonText = "Get Started";
                        if (Convert.ToBoolean(Settings.IsFarmSetupStarted) && 
                            !Convert.ToBoolean(Settings.IsFarmSetupComplete))
                        {
                            buttonText = "Continue Setup";
                        }
                        else
                        {
                            buttonText = "Get Started";
                        }
                        <RadzenButton Text="@buttonText" Icon="rocket_launch" class="rz-mb-12 umh-mt-4rem"
                                      Click="@(() => NavigationManager.NavigateTo($"/farm-map/{Settings.FarmId}"))" />
                    }
                    else
                    {
                        <RadzenButton Text="Please wait..." Icon="hourglass_top" class="rz-mb-12 umh-mt-4rem" />
                    }
                </RadzenCard>
            </div>
        </RadzenContent>
    </ChildContent>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</PermissionView>

@code {
    [CascadingParameter] WebAppSetting Settings { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }
}