


@* @using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

 *@

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Umanhan FMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-house"></i> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="contracts">
                    <i class="bi bi-plus-square"></i> Contracts
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="finance">
                    <i class="bi bi-plus-square"></i> Finance
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="subscriptions">
                    <i class="bi bi-plus-square"></i> Subscriptions
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="surplus">
                    <i class="bi bi-plus-square"></i> Surplus
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="inventory">
                    <i class="bi bi-person-check"></i> Inventory
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <i class="bi bi-person-check"></i> User Management
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <i class="bi bi-cloud"></i> Admin Dashboard
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse show";
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

 *@